.speech-text {
    animation: slow-scroll 8s 2s infinite linear;
}

@keyframes slow-scroll {
    0% {
        top: 0%;
    }

    50% {
        top: -60%;
    }

    100% {
        top: -140%;
    }
}