.app-div {
    overflow: hidden;
}

.glowing-border {
    border: 3px solid;
    padding: 2px;
    border-radius: 10px;
    border-color: #0051ff;
    animation: glow-border 2s infinite alternate;
}

@keyframes glow-border {
    0% {
        border-color: #004cbd;
    }

    50% {
        border-color: #009dff;
    }

    100% {
        border-color: #2448ff;
    }
}

.scroll-bar {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 87, 163, 0.712) transparent;
}

.popUp {
    animation: pop-up 0.3s forwards;
}

@keyframes pop-up {
    0% {
        scale: 0%;
    }

    50% {
        scale: 110%;
    }

    100% {
        scale: 100%;
    }
}